svg {
  border: 1px solid #ccc;
}

text {
  font-family: "Avenir", sans-serif;
}

/* .axis .domain {
    stroke: none;
}

.x line {
    stroke: white;
} */

.tick text {
  font-size: 1.2em;
}

.axis .domain {
  stroke: black;
}

.axis .tick line {
  stroke: #bbb;
  stroke-width: 0.5;
  stroke-dasharray: 4, 2;
}

.x .tick line {
  stroke: black;
}

.y .label text {
  font-size: 2em;
}

button {
  outline: none;
  color: #555;
  border-color: #eee;
  background: #fefefe;
  padding: 3px 10px;
  font-family: Avenir;
  transition: all 200ms;
  cursor: pointer;
}

button:hover {
  background: #f7f7f7;
}

button:focus {
  background: #e7e7e7;
}

.tooltip {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

html {
  max-height: 100%;
  background: url("images/background1.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
}

html.map {
  background: none;
}

/* .header {
  overflow: auto;
  float: left;
}

/* Style the top navigation bar */
.top-navigation {
  overflow: hidden;
  background-color: #803432;
}
/* Style the topnav links */
.top-navigation a {
  float: left;
  display: block;
  color: antiquewhite;
  text-align: center;
  padding: 5px 12px;
  text-decoration: none;
  text-align: center;
  font-size: medium;
}
/* Change color on hover */
.top-navigation a:hover {
  background-color: lightblue;
  color: darkred;
  text-align: center;
}

/* Change color on hover */
.top-navigation .selected {
  background-color: lightblue;
  color: darkred;
  text-align: center;
}

.tooltip {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  background: #eee;
  max-width: 200px;
}

.tip-header {
  font-family: "Avenir", sans-serif;
  font-size: 1.5em !important;
}

.tip-body {
  font-family: "Avenir", sans-serif;
  font-size: 1.5em !important;
}

h3,
h4 {
  font-family: "Avenir", sans-serif;
  font-size: 0.9em !important;
  color: #555;
  margin: 0;
}

h4 {
  font-weight: normal;
}

.tip-info {
  margin: 0;
  padding: 0.3rem 1em;
  font-size: 0.8em;
}

.tip-info:nth-of-type(even) {
  background: #e0e0e0;
}

button {
  height: 50px;
  width: 200px;
  padding: 14px 28px;
  margin-right: 20px !important;
  margin-top: 10px !important;
}

#selectButton {
  align-items: center;
}

.float-left {
  float: left;
}

.line-chart-legend {
  max-width: 80%;
  align-self: center;
  margin-left: auto;
}

.scatter-plot-legend {
  max-width: 80%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
