.content-container {
  border: 3px solid #803432;
  margin-top: 50px;
}

text {
  font-family: "Avenir", sans-serif;
}

.tick text {
  font-size: 1.2em;
}

.axis .domain {
  stroke: black;
}

.axis .tick line {
  stroke: #bbb;
  stroke-width: 0.5;
  stroke-dasharray: 4, 2;
}

.x .tick line {
  stroke: black;
}

text.mylabel {
  font-size: 100%;
  font-weight: bold;
}

table {
  width: 100%;
}
table td:first-child {
  width: 20%;
  vertical-align: middle;
}

table td {
  width: 16%;
}

.mybutton {
  outline: none;
  background-color: #10294b;
  color: #f15735;
  /* padding: 3px 10px; */
  font-family: Avenir;
  font-size: 1.55em;
  /* -webkit-text-stroke: 0.1px white; */
  transition: all 200ms;
  cursor: pointer;
  width: 100%;
  min-height: 100px;
  float: left;
}

.mybutton:hover {
  background: #f7f7f7;
}

.mybutton:focus {
  background: #10294b;
}

.myButtonLabel {
  outline: none;
  /* background-color: #10294b; */
  color: #f15735;
  padding-top: 30px;
  font-family: Avenir;
  font-size: 1.5em;
  transition: all 200ms;
  cursor: pointer;
  width: 100%;
  height: 100px;
  float: left;
  text-align: center;
}

html {
  max-height: 100%;
  /* background: url("../images/background1.jpg"); */
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
}

html.map {
  background: none;
}

/* .header {
  overflow: auto;
  float: left;
}

/* Style the top navigation bar */
.top-navigation {
  overflow: hidden;
  background-color: #803432;
  height: 10px;
  margin-bottom: 10px;
}
/* Style the topnav links */
.top-navigation a {
  float: left;
  display: block;
  color: antiquewhite;
  text-align: center;
  padding: 5px 12px;
  text-decoration: none;
  text-align: center;
  font-size: medium;
}
/* Change color on hover */
.top-navigation a:hover {
  background-color: lightblue;
  color: darkred;
  text-align: center;
}

/* Change color on hover */
.top-navigation .selected {
  background-color: lightblue;
  color: darkred;
  text-align: center;
}

a {
  color: darkred;
}

.tooltip {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  max-width: 250px;
  background-color: white;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
  font-family: Avenir sans-serif;
  font-size: 1em;
}

.tooltip.map svg {
  border: none !important;
}

.tip-header {
  font-family: "Avenir", sans-serif;
  font-size: 1.5em !important;
}

.tip-body {
  font-family: "Avenir", sans-serif;
  font-size: 1.5em !important;
}

.tooltip h3 {
  text-align: center;
}

h3,
h4 {
  font-family: "Avenir", sans-serif;
  font-size: 0.9em !important;
  color: #555;
  margin: 0;
}

h4 {
  font-weight: normal;
}

h4.title {
  text-align: center;
  font-weight: bold;
  font-size: 18px !important;
}

.tip-info {
  margin: 0;
  padding: 0.3rem 1em;
  font-size: 0.8em;
}

.tip-info:nth-of-type(even) {
  background: #e0e0e0;
}

/* button {
  height: 50px;
  width: 200px;
  padding: 14px 28px;
  margin-right: 20px !important;
  margin-top: 10px !important;
} */

#selectButton {
  align-items: center;
}

.float-left {
  float: left;
}

.line-chart-legend {
  max-width: 70%;
  align-self: center;
  margin-left: auto;
  font-size: 1.5em;
}

.scatter-plot-legend {
  max-width: 80%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.bar-chart-legend {
  max-width: 80%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

hr {
  stroke: black !important;
  border-top: 1px solid #000 !important;
}

h1#logo {
  border: 10px solid #10294b;
  font-family: Constantia;
  font-size: 3.65em;
  font-weight: bold;
  color: #7a0923;
}

/* a:link {
  color: #7a0923;
} */

.footer {
  padding-left: 50px;
  font-weight: bold;
}

.ref-links {
  padding-left: 85px;
}

.country {
  fill: #deb887;
  stroke: black;
  stroke-width: 1px;
}

.page-title h2 {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  color: #803432;
}

.description {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
  color: #042891;
  font-family: Cambria;
  font-size: 1.3em;
  text-align: justify;
  text-justify: inter-word;
}

.about_COVID {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
  color: black;
  font-family: Cambria;
  font-size: 1.3em;
  text-align: justify;
  text-justify: inter-word;
}

.subtitle {
  /* padding-left: 150px; */
  padding-right: 150px;
  padding-top: 30px;
  color: black;
  font-family: Cambria;
  font-size: 1.4em;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
}

.page-title {
  clear: both;
}

.slider {
  padding: 25px;
}

.arrow {
  width: 50px;
  float: right;
}

mark5 {
  background-color: #930e6e;
  color: white;
  padding: 1px;
}

mark4 {
  background-color: #e03320;
  color: white;
  padding: 1px;
}
mark3 {
  background-color: #ff8104;
  color: white;
  padding: 1px;
}
mark2 {
  background-color: #f0c300;
  color: white;
  padding: 1px;
}
mark1 {
  background-color: #a4c96f;
  color: white;
  padding: 1px;
}

ul,
li {
  margin-left: 80px;
  padding-left: 30px;
}

.year {
  font-size: large;
  font-weight: bold;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
